# modules
node_modules

# builds
dist
build

# setting files
.env
.node-version
logs

# etc
.DS_Store
.eslintrc.js
data
coverage
test.js
.vscode
yarn-error.log
src/lib/aws.config.json

# logs
logs

# mongodb key
mongodb.key