<h1>새로운 글 쓰기</h1>
<form method="post" enctype="multipart/form-data">
    <label>제목 </label>
    <input type="text" name="title" placeholder="제목을 입력하세요" required autofocus><br>
    <label>본문 </label>
    <input type="text" name="content" placeholder="본문을 입력하세요" required><br>
    <input type="file" name="imgFile" accept="image/*, .gif" multiple>
    <input type="submit">
</form>