<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Account</title>
</head>
<body>
<h1>Delete Account</h1>
<form method="post">
    <label>id :</label><input type="text" name="userId"><br>
    <label>pw :</label><input type="password" name="userPw"><br>
    <input type="submit">
</form>
</body>
</html>