<div id="wrap">
    <span class="title">Hello! {{id}}</span>
    <div class="user">
        <input type="button" class="btn" onclick=" location.href='/login'" value="LOGIN"/>
        <input type="button" class="btn" onclick=" location.href='/logout'" value="LOGOUT"/>
        <input type="button" class="btn" onclick=" location.href='/password-change'" value="CHANGEPASS"/>
        <input type="button" class="btn" onclick=" location.href='/delete-account'" value="DELETEACCOUNT"/>
        <input type="button" class="btn" onclick=" location.href='/join'" value="SIGNUP"/>
        <input type="button" class="btn" onclick=" location.href='/board'" value="BOARD"/>
    </div>
</div>