<h1>join</h1>
<form method="post">
    <label>id :</label><input type="text" name="userId"><br>
    <label>pw :</label><input type="password" name="userPw"><br>
    <label>pw-re :</label><input type="password" name="userPwRe"><br>
    <input type="submit">
</form>
