<h1>{{userProfile.nickname}} 프로필 변경</h1>
<form method="post" enctype="multipart/form-data">
    <label>아이디 </label>
    <input type="text" name="id" placeholder="제목을 입력하세요" required autofocus><br>
    <label>닉네임 </label>
    <input type="text" name="nickname" placeholder="본문을 입력하세요" required><br>
    <label>자기소개 </label>
    <input type="text" name="intro" placeholder="본문을 입력하세요" required><br>
    <input type="submit">
</form>