<form method="POST">
    <label>제목 </label><input type="text" name="title" value="{{title}}">
    <label>본문 </label><input type="text" name="content" value="{{content}}">
    <input type="file" name="imgFile" multiple>
    <input type="submit">
</form>